buoi3/1/1.2/thuvien.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="thuvien">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sach" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ten" type="xs:string"/>
              <xs:element name="tacgia" type="xs:string"/>
              <xs:element name="nam" type="xs:date"/>
              <xs:element name="theloai" type="xs:string"/>
            </xs:sequence>
            
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
